body {
    margin: 0;
    background-image: linear-gradient(#777, #000)
}

#navigation {
    background-image: linear-gradient(#FFF, #777)
}

#navigation ul {
    float: right;
}

#navigation ul li {
    list-style-type: none;
    display: inline-block;
    background-image: linear-gradient(#000, #333);
    padding: 10px 30px;
    margin: 14px 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 15px #888;
}

#navigation ul li a{
    color: #CCC;
    font-weight: bolder;
}

